# Virtual environment
.venv/

# Python cache
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Shopify MCP cache
shopify_mcp/cache/

# Git / env / IDE
.git/
.gitignore
**/.env
**/.env.*
.vscode/
.idea/
**/.DS_Store

# Logs
**/*.log
