langchain-anthropic==0.3.12
langchain-core==0.3.53
fastapi==0.115.12
uvicorn[standard]==0.34.2
google-cloud-pubsub==2.29.0
pydantic==2.11.3
pydantic-settings==2.9.1
psycopg2-binary==2.9.10
graphql-core==3.2.6
